.hm-goods-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* width: 750rpx; */
  /* height: 1122.08rpx; */
}

.box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* margin-left: 13.64rpx; */
  border-radius: 38.96rpx;
  box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.8);
  background-color: #ffffff;
  width: 700upx;
  margin: 30upx 0;
  /* height: 1044.16rpx; */
}

.titleClass {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 62.34rpx;
  width: 598.05rpx;
  height: 38.96rpx;
}

.title {
  opacity: 1;
  max-width: 539.61rpx;
  height: 38.96rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 38.96rpx;
  white-space: nowrap;
  color: #858997;
  font-size: 31.17rpx;
  font-weight: 400;
}

.titleimg {
  width: 35.06rpx;
  height: 7.79rpx;
}

.goods {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 62.34rpx;
  margin-left: 58.44rpx;
  height: 194.81rpx;
  width: 600upx;
}

.wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 29.22rpx;
  border-radius: 29.22rpx;
  background-color: #eeeff3;
  width: 150upx;
  height: 150upx;
  overflow: hidden;
}

.pic {
  width: 150upx;
  height: 150upx;
}

.block {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
  height: 142.21rpx;
}

.tradeName {
  position: relative;
  opacity: 1;
  line-height: 38.96rpx;
  white-space: nowrap;
  color: #141821;
  font-family: MicrosoftYaHei, Microsoft YaHei;
  font-size: 31.17rpx;
  font-weight: normal;
}

.describe {
  position: relative;
  opacity: 1;
  margin-top: 7.79rpx;
  max-width: 194.81rpx;
  height: 38.96rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 38.96rpx;
  white-space: nowrap;
  color: #141821;
  font-family: MicrosoftYaHei, Microsoft YaHei;
  font-size: 31.17rpx;
  font-weight: normal;
}

.commodity {
  position: relative;
  opacity: 1;
  margin-top: 17.53rpx;
  max-width: 194.81rpx;
  height: 38.96rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 38.96rpx;
  white-space: nowrap;
  color: #858997;
  font-family: MicrosoftYaHei, Microsoft YaHei;
  font-size: 31.17rpx;
  font-weight: normal;
}

.row {
  position: relative;
  margin-top: 58.44rpx;
  background-color: #eeeff3;
  width: 720.78rpx;
  height: 1.95rpx;
}

.row2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 58.44rpx;
  margin-left: 58.44rpx;
  height: 194.81rpx;
}

.group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 29.22rpx;
  border-radius: 29.22rpx;
  background-color: #eeeff3;
  width: 194.81rpx;
  height: 194.81rpx;
  overflow: hidden;
}

.img {
  width: 194.81rpx;
  height: 194.81rpx;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 142.21rpx;
}

.secondName {
  position: relative;
  opacity: 1;
  line-height: 38.96rpx;
  white-space: nowrap;
  color: #141821;
  font-family: MicrosoftYaHei, Microsoft YaHei;
  font-size: 31.17rpx;
  font-weight: normal;
}

.secondDescribe {
  position: relative;
  opacity: 1;
  margin-top: 7.79rpx;
  line-height: 38.96rpx;
  white-space: nowrap;
  color: #141821;
  font-family: MicrosoftYaHei, Microsoft YaHei;
  font-size: 31.17rpx;
  font-weight: normal;
}

.secondcommodity {
  position: relative;
  opacity: 1;
  margin-top: 17.53rpx;
  max-width: 132.47rpx;
  height: 38.96rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 38.96rpx;
  white-space: nowrap;
  color: #858997;
  font-size: 31.17rpx;
  font-weight: 400;
}

.submain {
  position: relative;
  margin-top: 58.44rpx;
  background-color: #eeeff3;
  width: 720.78rpx;
  height: 1.95rpx;
}

.main {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 58.44rpx;
  margin-left: 58.44rpx;
  height: 194.81rpx;
}

.outer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 29.22rpx;
  border-radius: 29.22rpx;
  background-color: #eeeff3;
  width: 194.81rpx;
  height: 194.81rpx;
  overflow: hidden;
}

.smallItem {
  width: 194.81rpx;
  height: 194.81rpx;
}

.wrap_2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 142.21rpx;
}

.thirdName {
  position: relative;
  opacity: 1;
  line-height: 38.96rpx;
  white-space: nowrap;
  color: #141821;
  font-size: 31.17rpx;
  font-weight: 400;
}

.thirdDescribe {
  position: relative;
  opacity: 1;
  margin-top: 7.79rpx;
  line-height: 38.96rpx;
  white-space: nowrap;
  color: #141821;
  font-size: 31.17rpx;
  font-weight: 400;
}

.thirdcommodity {
  position: relative;
  opacity: 1;
  margin-top: 17.53rpx;
  max-width: 101.3rpx;
  height: 38.96rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 38.96rpx;
  white-space: nowrap;
  color: #858997;
  font-size: 31.17rpx;
  font-weight: 400;
}
